body { background-color: #00FFFF40; }
a 
{ 
    text-decoration: none; 
    color: black; 
}
#S:hover { color: #FF9933; }
#W:hover { color: #FFFFFF; }
#G:hover { color: #138808; }
p
{
    border: solid 2px;
    margin: 15px;
    padding: 12px;
    width: 40%;
}