@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: rgba(127, 255, 212, 0.564);
}

div 
{
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 400px;
    margin: 200px auto;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

select 
{
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border: solid 3px transparent;
    border-radius: 2px;
}

select:focus
{
    border: solid 3px aqua ;
}

input[type="text"] 
{
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

button#btn, button#clear, button#swap
{
    padding: 8px 20px;
    font-size: 18px;
    background-color: #007bffc8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

button#btn:hover 
{
    background-color: blue;
}

button#clear
{
    background-color: red;
}

button#clear:hover 
{
    background-color: rgb(177, 0, 0);
}

button#swap
{
    background-color: green;
}

button#swap:hover 
{
    background-color: rgb(0, 85, 0);
}

button#btn:focus, button#clear:focus, button#swap:focus
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

button#btn:disabled, button#clear:disabled, button#swap:disabled
{
    background-color: #ccc;
    cursor: not-allowed;
}

button, select, input[type="text"] 
{
    margin-right: 10px;
}